.lightbox {
   position: fixed;
   height: calc(100% - #{$nav_height});
   width: 100%;
   top: 0;
   left: 0;
   margin-top: $nav_height;
   background-color: transparentize($primaryblack, 0.84);
   display: none;
}


// Comment Container Section

.comment_container {
   display: none;  
   position: absolute;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   background-color: #fff;
   width: $cmnt_width; 
   height: 100%;
   box-shadow: -4px 0px 20px -4px rgba(0, 0, 0, 0.23);
   padding: 1.5em 1em;
   transition: all 0.4s ease-in-out;
   overflow-x: scroll;

   & > .close_lightbox {
      padding: 0.1em;
      border: none;
      background-color: transparent;
      position: absolute;
      top: 10px;
      border-radius: 50px;
      right: 10px;
      cursor: pointer;
      &:hover {
         color: #fff;
         background-color: $primaryblack
      }
   }

   .cmnt_on {
      .cmnt_author {
         justify-content: space-between;
         color: grey;
      }
   }

   .cmnt_form {
      .comment_form_block {
         display: flex;
         margin: 1.2em 0 0 0;
         .inputbox {
            width: 100%;
            padding: 0 15px;
            margin-right: 10px;
            height: 2em;
            display: inline-flex;
            background-color: #fff;
            box-shadow: $thin_boxshadow;
            border-radius: 50px;
            & > input[type=text] {
               width: inherit;
               height: auto !important;
               line-height: 2em;
            }
         }
         .inputbtn {
            width: auto;
            height: 2em;
            // display: inline-flex;
            & > button {
               border: none;
               background-color: $primaryblack;
               border-radius: 50px;
               width: 2em;
               height: inherit;
               color: #fff;
            }
         }
      }
   }

   .user_comment_section {
      margin-top: 1.5em;
      max-height: 70%; 
      .user_comment {
         display: flex; 
         padding-bottom: 1em;
         margin-bottom: 1em;
         border-bottom: 1px solid darken(whitesmoke, 13%);
         .user_cmnt_right {
            // border: 1px solid blue;
            .user_avatar  {
               height: 2em;
               width: 2em;
               border-radius: 50px;
               overflow: hidden;
               & > img {
                  height: 100%;
                  width: auto;
               }
            }
         }    
         .cmnt_wrapper {
            // border: 1px solid green;
            padding-left: 10px;
            .cmnt {
               line-height: 1.3em;
               font-size: 14px;
               margin-top: 10px;
            }
            .cmnt_user > p {
               display: flex;
               justify-content: space-between;
               & > span:nth-child(1) {
                  color: grey;
                  font-weight: 400;
                  cursor: pointer;
                  &:hover {
                     color: #000;
                  }
               }
            }
         }     
      }
   }
}




// Confirmation Container Section
.confirmation_box {
   display: none;
   position: absolute;
   background-color: #fff;
   border-radius: 10px;
   padding: 1.3em;
   max-width: 300px;
   margin: 0 15px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 1;
   .confirmation_msg {
      margin-bottom: 1.5em;
   }
   .confirmation_btns {
      display: flex;
      justify-content: space-between;
      & > button {
         border: none;
         background-color: transparent;
         border-radius: 5px;
         padding: 5px 10px;
         &:hover {
            background-color: lightgrey;
         }
      }
   }

   
}