
%follow-button {
   border: none;
   padding: 0.5em 1em;
   border-radius: 5px;
   margin: 1em 0;
   cursor: pointer;
   &:hover {
      box-shadow: $thin_boxshadow;
   }
}


.profile_container {
   display: flex;
   // height: 300px;
   padding: 3rem 2.5rem 0 2.5rem;

   .left_cont {
      flex: 0 0 20%;
      height: inherit;
      padding: 0 1rem 0.5rem 1rem;

      .user_profile_box {
         // border: 1px solid blue;
         background-color: #fff;
         box-shadow: $thin_boxshadow;
         border-radius: 5px;
         border: 1px solid transparentize(grey, 0.8); 
         padding: 1.5rem;
         .user_avatar {
            margin-bottom: 1rem;
            & > span {
               color: grey;
               margin: auto;
            }
            .avatar {
               height: 4rem;
               width: 4rem;
               border-radius: 50px;
               overflow: hidden;
               margin: auto;
               & > img {
                  height: inherit;
                  width: auto;
               }
            }
         }

         .about_author {
            border: 1px solid darken($smokewhite, 10%);
            border-radius: 5px;
            padding: 0.7em;
            text-align: justify;
            margin: 1em -0.5em 0 -0.5em;
            font-size: 14px;
            line-height: 1.4em;
         }

         .user_profile_tag {
            .follow_btn {
               @extend %follow-button;
               background-color: darken($smokewhite, 10%);
            }
            .following_btn {
               @extend %follow-button;
               background-color: $primaryblack;
               color: #fff;
            }

            & > p {
               padding: 0.3rem 0;
               & > span#following_count,
               & > span#follower_count {
                  border-radius: 50px;
                  background-color: darken($smokewhite, 10%);
                  color: grey;
                  padding: 0.5rem 1rem;
                  cursor: pointer;
                  &:hover {
                     box-shadow: $thin_boxshadow;
                  }
               }
            }
         }
      }
   }

   .mid_cont {
      // flex: 0 0 80%;
      flex: auto;
      height: inherit; 
      padding: 0 1rem 0.5rem 1rem;

      .quote-block-container {
         .default-placeholder {
            height: 80vh;   
            margin: auto;         
         }
         & > .quoteBlock {
            flex: 0 0 calc(33.33% - #{$gap});
         }
      }

      .follow-block-container {
         display: none;
         background-color: #fff;
         padding: 1.5em;
         position: relative;

         .follow-block-close {
            position: absolute;
            top: 10px;
            right: 10px;
            border-radius: 50px;
            height: 20px;
            width: 20px;
            cursor: pointer;
         }

         .follow_tab {
            li {
               display: inline-block;
               & > a {
                  display: block;
                  padding: 0.5em 1em;
                  color: #000;
                  border-radius: 5px;
               }
            }
         }

         #followers,
         #following {
            display: none;
            $follow_row_height: 50px;
            & > .follow_row {
               display: flex;
               height: $follow_row_height;
               margin: 0.5em 0;
               height: $follow_row_height;
               & > .user_avatar {
                  height: $follow_row_height;
                  width: $follow_row_height;
                  border-radius: 50px;
                  overflow: hidden;
                  & > img {
                     height: 100%;
                     width: 100%;
                  }
               }
               & > .user_name {
                  padding: 0 1em;
                  flex: 1;
               }
               & > .unfollow_btn > button {
                  border: 1px solid $primaryblack;
                  border-radius: 5px;
                  padding: 0.5em 1em;
                  background-color: transparent;
                  cursor: pointer;
                  &:hover {
                     background-color: $primaryblack;
                     color: #fff;
                  }
               }
            }
         }
      }
   }


   .right_cont {
      height: 400px;
      flex: 0 0 20%;
      padding: 0 1rem 0.5rem 1rem;

      .collection_list_cont {
         .collection_list_box {
            background-color: #fff;
            border-radius: 5px;
            padding: 1em;
            box-shadow: $thin_boxshadow;
            
            .collection_list_head {
               background-color: lighten(lightgrey, 10%);
               padding: 1em;
               margin: -1em -1em 1em -1em;
            }

            .open_make_coll_box {
               margin: 0 -9px 0.5em -9px;
               padding: 0px 7px;
               border-radius: 4px;
               cursor: pointer;
               &:hover {
                  background-color: darken($smokewhite, 10%);
               }
            }

            .make_collection_box {
               display: none;
            }

            .collection_list {
               position: relative;
               // margin-bottom: 1em;
               border-radius: 5px;
               &:hover {
                  background-color: whitesmoke;
               }
               &:hover > button.delete_coll_btn {
                  display: block;
               }
               .user_collection {
                  // box-shadow: $thin_boxshadow;
                  // background-color: #fff;
                  & > a {
                     display: block;
                     padding: 0.4em 0.5em;
                     color: #000; 
                  }
               }
               & > button.delete_coll_btn {
                  display: none;
                  position: absolute;
                  top: 50%;
                  right: 0;
                  padding: 0.2em;
                  background-color: transparent;
                  border-radius: 50px;
                  border: none;
                  transform: translate(-50%, -50%);
                  cursor: pointer;
                  &:hover {
                     background-color: whitesmoke;
                  }
               }
            }
         }
      }
   }


   
}




.active_follow_tab_btn {
   background-color: $primaryblack !important;
   color: #fff !important;
}




