// Primary colors
$smokewhite: #f7f7f7;
$primaryblack: #212121;
$secondaryblack: #484848;


// Measurements
$nav_height: 60px;
$notifyAvatarSize: 2em;
$gap: 15px;
$cmnt_width: 23%;


// Shadows
$light_boxshadow: 0 0 40px -11px rgba(0, 0, 0, 0.27);
$thin_boxshadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.73);
